@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chuborekek CRUD Template using Generic Repository with Sorting,Searching and Pagination</h1>

    <a asp-controller="Dog" asp-action="Index"> DOGS PAGE</a>
    <p>This is an example implementation of CRUD Operation </p>
    <a asp-controller="Cat" asp-action="Index"> CATS PAGE</a>
    <p>This is an example implementation of CRUD Operation with Popup Modal</p>
</div>
